@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: UTMAVO !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #D7AF53, 0.6em 0 0 0 #D7AF53;
  box-shadow: 0.5em 0 0 0 #D7AF53, 0.6em 0 0 0 #D7AF53;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo_footer.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#h_1 {
  margin-top: 30px;
}

#h_1 h1 {
  text-align: center;
  color: #305582;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
}

#h_1 #slogan {
  text-align: center;
  padding-bottom: 40px;
  font-size: 15px;
  margin: 10px 0;
}

#h_1 #slogan p {
  color: #D7AF53;
}

#h_1 #h_1_content {
  padding: 20px 0;
}

#h_2 #h_2_left .img_demo {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#h_2 #h_2_right h3 {
  color: #305582;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 43px;
  margin-bottom: 15px;
}

#h_2 #h_2_right .content {
  line-height: 1.5;
}

#h_3 {
  margin-top: 30px;
  background-color: #305582;
  padding: 20px 0;
}

#h_3 h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

#h_3 .content {
  line-height: 1.5;
  color: white;
}

.img-demo img {
  width: 100%;
  height: 100%;
}

#h_4 {
  margin-top: 30px;
  background-color: #f5f5f5;
  padding: 20px 0;
}

#h_4 h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #305582;
}

#h_5 {
  margin-top: 30px;
  padding: 40px 0;
  background-color: #305582;
}

#h_5 h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

#h_5 .one-item {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: inherit;
  width: 100%;
  height: 378px;
}

#h_5 .one-item:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff9922;
  content: '';
  z-index: 1;
  opacity: 0;
}

#h_5 .one-item:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#h_5 .one-item:hover:before {
  opacity: 0.5;
}

#h_5 .one-item:hover .img-item {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#h_5 .one-item:hover .content i {
  -webkit-animation: slideInUp 1s;
          animation: slideInUp 1s;
  opacity: 1;
}

#h_5 .one-item:hover .content h3.title {
  -webkit-animation: slideInUp 1s;
          animation: slideInUp 1s;
  opacity: 1;
}

#h_5 .one-item .img-item {
  -webkit-transition: all 1s;
  transition: all 1s;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 378px;
}

#h_5 .one-item .content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

#h_5 .one-item .content i {
  font-size: 24px;
  line-height: 28.8px;
  color: white;
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#h_5 .one-item .content h3.title {
  font-size: 24px;
  line-height: 40px;
  padding: 5px 0 0;
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#h_5 .one-item .content h3.title a {
  color: white;
}

#h_6 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  padding: 60px 0;
  border: 4px solid white;
}

#h_6:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
  z-index: 0;
}

#h_6 .content {
  z-index: 1;
}

#h_6 .content h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
  color: white;
}

#h_6 .content h3 span {
  color: #ff9922;
}

#h_6 .content p {
  line-height: 2;
  font-size: 18px;
  color: white;
}

#h_6 .content button {
  background-color: #ff9922;
  border: none;
  padding: 20px 40px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 45px;
}

#h_6 .content button a {
  color: white;
}

#h_7 h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
  color: #305582;
  text-align: center;
}

#h_7 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#h_7 ul li a {
  display: block;
  position: relative;
  text-transform: uppercase;
  padding: 11px 15px;
  text-align: center;
  background: #efebe7;
  margin: 15px;
}

#h_7 ul li a:before {
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 38px solid #efebe7;
  position: absolute;
  left: -20px;
  top: 0;
  content: "";
}

#h_7 ul li a:after {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #efebe7;
  position: absolute;
  right: -20px;
  top: 0;
  content: "";
}

#h_7 ul li a.active {
  background: #305582;
  color: white;
}

#h_7 ul li a.active:before {
  border-bottom: 38px solid #305582;
}

#h_7 ul li a.active:after {
  border-top: 40px solid #305582;
}

#h_7 .content p {
  line-height: 1.5;
  text-align: center;
  padding: 20px;
}

#h_7 .content img {
  width: 100%;
  height: 100%;
  padding: 5px;
}

#h_8 h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
  color: #305582;
  text-align: center;
}

#h_8 .one-news .img-news {
  width: 100%;
}

#h_8 .one-news .img-news img {
  width: 100%;
}

#h_8 .one-news .date-news {
  color: #595a5c;
  font-style: italic;
  font-size: 12px;
  position: relative;
  margin-top: 10px;
}

#h_8 .one-news .date-news:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F017";
  font-style: normal;
  font-size: 16px;
  margin-right: 8px;
}

#h_8 .one-news .content h4 {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

#h_8 .one-news .content h4 a {
  color: #305582;
}

#h_8 .one-news .content .description {
  line-height: 1.5;
  margin-bottom: 15px;
}

#h_8 .one-news .content a.view-more {
  background-color: #305582;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-style: italic;
  font-size: 13px;
}

#h_8 .one-news .content a.view-more:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F0A9";
  font-style: normal;
  font-size: 13px;
  margin-left: 8px;
}

#h_8 .one-news.n-left {
  margin-bottom: 20px;
  border-bottom: 6px solid #305582;
}

#h_8 .one-news.n-left h4 {
  font-size: 17px;
  margin-top: 5px;
}

#h_9 {
  margin-top: 190px;
}

#h_9 h3 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
  color: #305582;
  text-align: left;
}

#h_9 .list-reasons {
  position: relative;
  padding-top: 57%;
}

#h_9 .list-reasons .reason {
  position: absolute;
  text-align: center;
  height: 0;
}

#h_9 .list-reasons .reason img {
  position: relative;
  z-index: 2;
  width: initial;
}

#h_9 .list-reasons .reason p {
  font-size: 14px;
  color: #e7c6b3;
  position: relative;
  z-index: 2;
  line-height: 1.5;
}

#h_9 .list-reasons .reason p span {
  display: block;
}

#h_9 .list-reasons .reason.reason1 {
  width: 26%;
  padding-top: 26%;
  left: 4%;
  top: 8.1%;
}

#h_9 .list-reasons .reason.reason1 img.icon {
  height: 62px;
  margin-top: 35px;
  margin-bottom: 25px;
}

#h_9 .list-reasons .reason.reason2 {
  width: 17.2%;
  padding-top: 17.2%;
  left: 30.4%;
  top: -1.1%;
}

#h_9 .list-reasons .reason.reason2 img.icon {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#h_9 .list-reasons .reason.reason2:before {
  background: #025a69;
}

#h_9 .list-reasons .reason.reason2:after {
  border-color: #025a69;
}

#h_9 .list-reasons .reason.reason3 {
  width: 15.26%;
  padding-top: 15.26%;
  left: 44.2%;
  top: -19%;
}

#h_9 .list-reasons .reason.reason3 img.icon {
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#h_9 .list-reasons .reason.reason3:before {
  background: #026777;
}

#h_9 .list-reasons .reason.reason3:after {
  border-color: #026777;
}

#h_9 .list-reasons .reason.reason4 {
  width: 18.42%;
  padding-top: 18.42%;
  left: 26.6%;
  top: 38.5%;
}

#h_9 .list-reasons .reason.reason4 img.icon {
  height: 46px;
  margin-top: 10px;
  margin-bottom: 0;
}

#h_9 .list-reasons .reason.reason4:before {
  background: #025462;
}

#h_9 .list-reasons .reason.reason4:after {
  border-color: #025462;
}

#h_9 .list-reasons .reason.reason5 {
  width: 21.32%;
  padding-top: 21.32%;
  left: 44%;
  top: 18%;
}

#h_9 .list-reasons .reason.reason5 img.icon {
  height: 56px;
  margin-top: 18px;
  margin-bottom: 17px;
}

#h_9 .list-reasons .reason.reason5:before {
  background: #026170;
}

#h_9 .list-reasons .reason.reason5:after {
  border-color: #026170;
}

#h_9 .list-reasons .reason.reason6 {
  width: 21.32%;
  padding-top: 21.32%;
  left: 59.5%;
  top: -9.5%;
}

#h_9 .list-reasons .reason.reason6 img.icon {
  height: 59px;
  margin-top: 22px;
  margin-bottom: 19px;
}

#h_9 .list-reasons .reason.reason6:before {
  background: #016c7d;
}

#h_9 .list-reasons .reason.reason6:after {
  border-color: #016c7d;
}

#h_9 .list-reasons .reason.reason7 {
  width: 18.86%;
  padding-top: 18.86%;
  left: 73%;
  top: 22.7%;
}

#h_9 .list-reasons .reason.reason7 img.icon {
  height: 49px;
  margin-top: 21px;
  margin-bottom: 15px;
}

#h_9 .list-reasons .reason.reason7:before {
  background: #017285;
}

#h_9 .list-reasons .reason.reason7:after {
  border-color: #017285;
}

#h_9 .list-reasons .reason.reason8 {
  width: 12.98%;
  padding-top: 12.98%;
  left: 85.5%;
  top: 3%;
}

#h_9 .list-reasons .reason.reason8 img.icon {
  height: 28px;
  margin-top: 17px;
  margin-bottom: 4px;
}

#h_9 .list-reasons .reason.reason8:before {
  background: #017285;
}

#h_9 .list-reasons .reason.reason8:after {
  border-color: #017285;
}

#h_9 .list-reasons .reason:before {
  position: absolute;
  content: "";
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 8px;
  background: #024b57;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 30px;
  z-index: 1;
}

#h_9 .list-reasons .reason:after {
  background-color: white;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  border: 1px solid #024b57;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 35px;
}

#h_9 .list-reasons .reason .container-reason {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 992px) {
  #h_9 .list-reasons {
    padding-top: 100%;
  }
  #h_9 .list-reasons .left-mobile .reason.reason1 {
    width: 33%;
    padding-top: 33%;
    left: 6.1%;
    top: 12.6%;
  }
  #h_9 .list-reasons .left-mobile .reason.reason2 {
    width: 22.2%;
    padding-top: 22.2%;
    left: 40%;
    top: 5.6%;
  }
  #h_9 .list-reasons .left-mobile .reason.reason3 {
    width: 19.26%;
    padding-top: 19.26%;
    left: 77.7%;
    top: 2.5%;
  }
  #h_9 .list-reasons .left-mobile .reason.reason4 {
    width: 24.42%;
    padding-top: 24.42%;
    left: 35.1%;
    top: 34.8%;
  }
  #h_9 .list-reasons .left-mobile .reason.reason5 {
    width: 28.32%;
    padding-top: 28.32%;
    left: 58.3%;
    top: 18.7%;
  }
  #h_9 .list-reasons .left-mobile .reason.reason6 {
    width: 26.32%;
    padding-top: 26.32%;
    left: 15.8%;
    top: 53.3%;
  }
  #h_9 .list-reasons .left-mobile .reason.reason7 {
    width: 24.42%;
    padding-top: 24.42%;
    left: 53.2%;
    top: 53.3%;
  }
  #h_9 .list-reasons .left-mobile .reason.reason8 {
    width: 18.98%;
    padding-top: 18.98%;
    left: 77.7%;
    top: 44.6%;
  }
}

@media screen and (max-width: 1280px) {
  #h_9 .list-reasons .reason.reason1 img.icon {
    height: 62px;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  #h_9 .list-reasons .reason.reason2 img.icon {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #h_9 .list-reasons .reason.reason3 img.icon {
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #h_9 .list-reasons .reason.reason4 img.icon {
    height: 46px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  #h_9 .list-reasons .reason.reason5 img.icon {
    height: 56px;
    margin-top: 18px;
    margin-bottom: 17px;
  }
  #h_9 .list-reasons .reason.reason6 img.icon {
    height: 59px;
    margin-top: 22px;
    margin-bottom: 19px;
  }
  #h_9 .list-reasons .reason.reason7 img.icon {
    height: 49px;
    margin-top: 21px;
    margin-bottom: 15px;
  }
  #h_9 .list-reasons .reason.reason8 img.icon {
    height: 28px;
    margin-top: 17px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 767px) {
  #h_9 {
    margin-top: 20px;
  }
  #h_9 h3 {
    text-align: center;
  }
  #h_9 .list-reasons {
    padding-top: 0;
  }
  #h_9 .list-reasons .left-mobile {
    margin-bottom: 0;
  }
  #h_9 .list-reasons .left-mobile .reason {
    height: auto;
    margin: 0 auto;
    position: relative !important;
    width: 100% !important;
    padding-top: 0 !important;
    left: initial !important;
    top: initial !important;
  }
  #h_9 .list-reasons .left-mobile .reason:before {
    left: 0;
    top: 0;
    background: #024a56;
    width: 44px;
    height: 44px;
    right: 10px;
    margin-left: 3.4px;
    margin-top: 3.2px;
    border-radius: 7px;
  }
  #h_9 .list-reasons .left-mobile .reason:after {
    right: initial;
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  #h_9 .list-reasons .left-mobile .reason img.icon {
    height: 18px;
    margin: 18px 0 18px 14px;
    float: left;
  }
  #h_9 .list-reasons .left-mobile .reason .container-reason {
    overflow: auto;
    position: initial;
    min-height: 100px;
  }
  #h_9 .list-reasons .left-mobile .reason p {
    text-align: left;
    margin-left: 70px;
    color: #024a56;
    margin-right: 10px;
  }
  #h_9 .list-reasons .left-mobile .reason p span {
    display: inline;
  }
}

@media screen and (max-width: 640px) {
  #h_9 .list-reasons .left-mobile {
    width: 100%;
  }
  #h_9 .list-reasons .left-mobile .reason:before {
    width: 36px;
    height: 36px;
  }
  #h_9 .list-reasons .left-mobile .reason:after {
    width: 42px;
    height: 42px;
  }
  #h_9 .list-reasons .left-mobile .reason img.icon {
    height: 15px;
    margin: 13px 0 18px 12px;
    float: left;
  }
  #h_9 .list-reasons .left-mobile .reason .container-reason {
    min-height: 70px;
  }
}

#cont_1 h1 {
  font-size: 24px;
  font-weight: normal;
  color: #305582;
  position: relative;
  margin-bottom: 33px;
  text-transform: uppercase;
}

#cont_1 h1:before {
  position: absolute;
  content: "";
  left: 230px;
  right: 0;
  top: 57%;
  height: 1px;
  background: #cfa28d;
}

#cont_1 h1 + p {
  font-size: 15px;
}

#cont_1 .contact-form {
  padding-bottom: 70px;
}

#cont_1 .contact-form .cont-left h3 {
  font-size: 24px;
  color: #313131;
  margin-top: 37px;
  margin-bottom: 26px;
  text-transform: uppercase;
}

#cont_1 .contact-form .cont-left h3:after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 60px;
  background: #cfa28d;
  margin-top: 20px;
}

#cont_1 .contact-form .cont-left .content .input-group {
  position: relative;
  margin-bottom: 30px;
}

#cont_1 .contact-form .cont-left .content .input-group input, #cont_1 .contact-form .cont-left .content .input-group textarea {
  width: 100%;
  font-size: 15px;
  outline: none;
  border: 2px solid #f1f1f1;
  padding: 13px 19px 14px 44px;
}

#cont_1 .contact-form .cont-left .content .input-group textarea {
  padding: 4px 19px 14px 44px;
}

#cont_1 .contact-form .cont-left .content .input-group i {
  position: absolute;
  left: 21px;
  top: 10px;
  color: #5b5b5b;
  z-index: 9;
}

#cont_1 .contact-form .cont-right .info {
  padding: 35px 30px 30px 45px;
  border: 1px solid #d0a48f;
  border-radius: 25px;
}

#cont_1 .contact-form .cont-right .info h3 {
  margin-top: 0;
  font-size: 18px;
  color: #305582;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

#cont_1 .contact-form .cont-right .info h4 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

#cont_1 .contact-form .cont-right .info p {
  margin-bottom: 23px;
  font-size: 15px;
}

#cont_1 .contact-form .cont-right .info .content {
  padding-bottom: 7px;
  border-bottom: #ccc solid 1px;
  margin-bottom: 20px;
}

#cont_1 .contact-form .cont-right .info .content p i {
  color: #fff;
  background: #cfa28d;
  padding: 11px 13px;
  float: left;
  margin-top: 0;
  border-radius: 50%;
  margin-right: 18px;
}

#menu #menu-left ul.main-menu-item, #menu #menu-right ul.main-menu-item {
  display: block;
}

#menu #menu-left ul.main-menu-item li, #menu #menu-right ul.main-menu-item li {
  display: inline-block;
  font-size: 14px;
  color: #305582;
}

#menu #menu-left ul.main-menu-item li a, #menu #menu-right ul.main-menu-item li a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 10px;
  display: block;
}

#menu #menu-left ul.main-menu-item li.has-item-down, #menu #menu-right ul.main-menu-item li.has-item-down {
  position: relative;
  width: 30%;
}

#menu #menu-left ul.main-menu-item li.has-item-down ul.sub-menu-item, #menu #menu-right ul.main-menu-item li.has-item-down ul.sub-menu-item {
  position: absolute;
  z-index: 10;
  display: none;
}

#menu #menu-left ul.main-menu-item li.has-item-down ul.sub-menu-item li, #menu #menu-right ul.main-menu-item li.has-item-down ul.sub-menu-item li {
  display: block;
}

#menu #menu-left ul.main-menu-item li.has-item-down ul.sub-menu-item li a, #menu #menu-right ul.main-menu-item li.has-item-down ul.sub-menu-item li a {
  padding: 10px 0 10px 0;
}

#menu #menu-left ul.main-menu-item li.has-item-down:hover ul.sub-menu-item, #menu #menu-right ul.main-menu-item li.has-item-down:hover ul.sub-menu-item {
  display: block;
}

#menu #menu-logo {
  position: relative;
}

#menu #menu-logo .wrap-logo {
  position: absolute;
  background-color: white;
  top: 19px;
  z-index: 15;
  padding: 0 20px 20px 20px;
  -webkit-box-shadow: 0px 8px 14px grey;
          box-shadow: 0px 8px 14px grey;
}

#menu #menu-logo .wrap-logo img {
  width: 100%;
}

.bottom_makeup {
  text-align: center;
  padding-bottom: 40px;
  font-size: 15px;
  margin: 10px 0;
}

.bottom_makeup p {
  color: #D7AF53;
}

#footer {
  background-color: #305582;
  margin-bottom: 30px;
}

#footer .footer-left {
  text-align: center;
  padding: 20px 0;
}

#footer .footer-left .footer-logo img {
  width: 50%;
}

#footer .footer-left .content {
  text-align: left;
  color: white;
}

#footer .footer-left .content p {
  line-height: 1.5;
}

#footer .footer-right h3 {
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
}

#footer .footer-right .content {
  padding-bottom: 30px;
}

#footer .footer-right .content .info-customer .one-input {
  padding: 2px;
}

#footer .footer-right .content .info-customer .one-input input {
  border-radius: unset;
}

#footer .footer-right .content .one-button {
  padding: 5px;
}

#footer .footer-right .content .one-button button {
  color: white;
  background-color: #ff9922;
  border-radius: unset;
  padding: 10px 10px;
  font-size: 28px;
  font-weight: bolder;
  width: 100%;
}

#footer .footer-right .content .one-button button:first-letter {
  text-transform: uppercase;
}

#footer-stick {
  background: #990000;
  border-bottom: 0;
  text-align: center;
  color: white;
  padding: 15px 0;
}

#footer-stick a {
  color: black;
  padding: 5px;
  background-color: #ff0;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#footer-stick a:hover {
  color: red;
}
