#h_3 {
  margin-top: 30px;
  background-color: $main-color;
  padding: 20px 0;
  h3 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
  }
  .content{
    line-height: 1.5;
    color: white;
  }
}
.img-demo{
  img{
    width: 100%;
    height: 100%;
  }
}