#h_5 {
  margin-top: 30px;
  padding: 40px 0;
  background-color: $main-color;
  h3 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
  }
  .one-item {
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    background-color: inherit;
    width: 100%;
    height: 378px;
    &:before {
      transition: all 1s;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ff9922;
      content: '';
      z-index: 1;
      opacity: 0;
    }
    &:hover {
      transition: all 0.5s;
      &:before {
        opacity: 0.5;
      }
      .img-item {
        transform: scale(1.5);
      }
      .content {
        i {
          animation: slideInUp 1s;
          opacity: 1;
        }
        h3.title {
          animation: slideInUp 1s;
          //animation-delay: 0.5s;
          opacity: 1;
        }
      }
    }
    .img-item {
      transition: all 1s;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      width: 100%;
      height: 378px;
    }
    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
      i {
        font-size: 24px;
        line-height: 28.8px;
        color: white;
        opacity: 0;
        transition: all 2s;
      }
      h3.title {
        font-size: 24px;
        line-height: 40px;
        padding: 5px 0 0;
        opacity: 0;
        transition: all 2s;
        a {
          color: white;
        }
      }
    }
  }
}