#footer {
  background-color: $main-color;
  margin-bottom: 30px;
  .footer-left {
    text-align: center;
    padding: 20px 0;
    .footer-logo {
      img {
        width: 50%;
      }
    }
    .content {
      text-align: left;
      color: white;
      p{
        line-height: 1.5;
      }
    }
  }
  .footer-right {
    h3 {
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
      text-align: center;
      padding: 20px 0;
      font-size: 25px;
    }
    .content {
      padding-bottom: 30px;
      .info-customer {
        .one-input {
          padding: 2px;
          input {
            border-radius: unset;
          }
        }
      }
      .one-button {
        padding: 5px;
        button {
          color: white;
          background-color: #ff9922;
          border-radius: unset;
          padding: 10px 10px;
          font-size: 28px;
          font-weight: bolder;
          width: 100%;
          &:first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
#footer-stick{
  background: rgb(153, 0, 0);
  border-bottom: 0;
  text-align: center;
  color: white;
  padding: 15px 0;
  a{
    color: black;
    padding: 5px;
    background-color: #ff0;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s all;
    &:hover{
      color:red;
    }
  }
}